body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.form-container {
    display: flex;
    width: 600px;
    margin: 60px auto;
    text-align: left;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

label {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: #aaa;
}



input[type='password'] {
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    display: inline-block;
    border: 3px solid #2F96EF;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
    transition: .2s;
}

input[type='password']:focus {
    outline: none;
}


.input-wrapper {
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    display: flex;
    border: 3px solid #2F96EF;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
    transition: .2s;
}


Label i {
    color: #aaa;
    position: absolute;
    right: 25px;
    top: 44px;
    cursor: pointer;
}

.btn {
    width: 150px;
    border: 3px solid #2F96EF;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:disabled {
    border: 3px solid #7c7c7c;
    background-color: #7c7c7c;
    color: #c5c4c4;
    opacity: 0.6;
    cursor: unset;
}

.btn-enable:hover {
    background-color: #2F96EF;
    color: #ffffff;
}
.progress-bar_wrap {
    width: 400px;
    height: 5px;
    background: #F6F6FA;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
}

.password-form .progress-bar_item {
    display: flex;
    height: 100%;
    width: 20%;
    float: left;
    visibility: hidden;
    transition: background-color .2s, visisility .1s;
}

.password-form .active {
    visibility: visible;
}

.progress-bar_text {
    display: inline-block;
    color: #aaa;
    margin-left: 5px;
    transition: .2s;
}

.pwList ul{
    list-style-type: none;
    line-height: 90%;
    color: #aaa;
}

